
<h1 class="page-header">Service</h1>


<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">サービス</h3>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{/manager/service/regist}" th:object="${serviceKey}" method="post">
			<input type="text" class="form-control" th:field="*{serviceId}" placeholder="SERVICEID" />
			<button type="submit" class="btn btn-primary">登録</button>
		</form>
		
		<br />
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>SERVICE</th>
					<th>削除</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="service,iterStat : ${serviceList}">
					<td>
						<div class="text-center" th:text="${iterStat.count}" />
					</td>
					<td>
						<a th:href="@{'/project/' + ${service} + '/group'}" th:text="${service}">test</a>
					</td>
					<td class="text-center">
						<form class="form-inline" action="#" th:action="@{/manager/service/delete}" th:object="${serviceKey}" method="post">
							<input type="hidden" th:name="serviceId" th:value="${service}" />	
							<button type="submit" class="btn btn-danger btn-xs">
								<span class="glyphicon glyphicon-trash" aria-hidden="true" />
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
