
<h1 class="page-header">Service</h1>


<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">サービス</h3>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{/manager/service/regist}" th:object="${serviceKey}" method="post">
			<input type="text" class="form-control" th:field="*{serviceId}" placeholder="SERVICEID" />
			<button type="submit" class="btn btn-primary">登録</button>
		</form>
		
		<br />
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>service</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="service : ${serviceList}">
						<td><a th:href="@{'/project/' + ${service} + '/group'}" th:text="${service}">test</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
