
<h1 class="page-header">コネクション詳細</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">jailer接続URL</h3>
	</div>
	<div class="panel-body">
		<strong><h4 th:text="'jdbc:jailer://' + ${connectString} + '/' + ${jailerDataSource.uuid}" /></strong>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">接続URL</h3>
	</div>
	<div class="panel-body">
		<strong><h4 th:text="${jailerDataSource.url}" /></strong>
		<br />
		<form class="form-inline" action="#" th:action="@{/dataSource/update}" th:object="${dataSourceForm}" method="post">
			<input type="hidden" th:name="serviceId" th:value="${dataSourceKey.serviceId}" />
			<input type="hidden" th:name="groupId" th:value="${dataSourceKey.groupId}" />
			<input type="hidden" th:name="dataSourceId" th:value="${dataSourceKey.dataSourceId}" />
			<input type="text" class="form-control" th:name="url" placeholder="url" />
			<input type="submit" class="btn btn-primary" value="更新" />
		</form>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">接続パラメータ</h3>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{/dataSourceParameter/regist}" th:object="${dataSourceParameterForm}" method="post">
			<input type="hidden" th:name="serviceId" th:value="${dataSourceKey.serviceId}" />
			<input type="hidden" th:name="groupId" th:value="${dataSourceKey.groupId}" />
			<input type="hidden" th:name="dataSourceId" th:value="${dataSourceKey.dataSourceId}" />
			<input type="text" class="form-control" th:field="*{key}" placeholder="KEY" />
			<input type="text" class="form-control" th:field="*{value}" placeholder="VALUE" />
			<input type="submit" class="btn btn-primary" value="登録" />
		</form>
		<table class="table table-bordered">
			<thead>
				<tr>
					<td class="text-center"><strong>KEY</strong></td>
					<td class="text-center"><strong>VALUE</strong></td>
					<td class="text-center"><strong>DELETE</strong></td>
				</tr>
			</thead>
			<br />
			<tbody>
				<tr th:each="property : ${jailerDataSource.propertyList}">
					<td>
						<div th:text="${property.key}" />
					</td>
					<td>
						<div th:text="${property.value}" />
					</td>
					<td  class="text-center">
						<form action="#" th:action="@{/dataSourceParameter/remove}" th:object="${dataSourceParameterForm}" method="post">
							<input type="hidden" th:name="serviceId" th:value="${dataSourceKey.serviceId}" />
							<input type="hidden" th:name="groupId" th:value="${dataSourceKey.groupId}" />
							<input type="hidden" th:name="dataSourceId" th:value="${dataSourceKey.dataSourceId}" />
							<input type="hidden" th:name="key" th:value="${property.key}" />
							<input type="submit" class="btn btn-warning btn-sm" value="Delete" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<br />
<h3 class="sub-header">コネクション一覧</h3>
<table class="table table-bordered" border="1" rules="all">
	<thead>
		<tr>
			<td class="text-center"><strong>id</strong></td>
			<td class="text-center"><strong>接続元ホスト名</strong></td>
			<td class="text-center"><strong>接続元IPアドレス</strong></td>
			<td class="text-center"><strong>接続開始日時</strong></td>
			<td class="text-center"><strong>接続url</strong></td>
			<td class="text-center"><strong>接続パラメータ</strong></td>
			<td class="text-center"><strong>オプションパラメータ</strong></td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="connection : ${connectionList}">
			<td>
				<div th:text="${connection.key}" />
			</td>
			<td>
				<div th:text="${connection.value.host}" />
			</td>
			<td>
				<div th:text="${connection.value.ipAddress}" />
			</td>
			<td>
				<div th:text="${#dates.format(connection.value.sinceConnectTime, 'yyyy/MM/dd HH:mm:ss')}" />
			</td>
			<td>
				<div th:text="${connection.value.connectUrl}" />
			</td>
			<td>
				<div th:text="${connection.value.propertyList}" />
			</td>
			<td>
				<div th:text="${connection.value.optionalParam}" />
			</td>
		</tr>
	</tbody>
</table>
