
<h1>
	<ol class="breadcrumb">
		<li th:text="${service}" />
		<li th:text="${dataSourceKey.groupId}" />
		<li th:text="${dataSourceKey.dataSourceId}" />
		<li>JDBC詳細</li>
	</ol>
</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">jailer接続URL</h3>
	</div>
	<div class="panel-body">
		<strong><h5>接続Driver</h5></strong>
		<blockquote class="bg-success"><strong>jailer.jdbc.JailerDriver</strong></blockquote>
		<strong><h5>接続URL</h5></strong>
		<blockquote class="bg-success"><strong th:text="'jdbc:jailer://' + ${connectString} + '/' + ${jailerDataSource.uuid}" /></blockquote>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">DB接続Driver</h3>
	</div>
	<div class="panel-body">
		<strong><h4 th:text="${jailerDataSource.driverName}" /></strong>
		<br />
		<form class="form-inline" action="#" th:action="@{'/project/' + ${service} + '/driver/update'}" th:object="${driverForm}" method="post">
			<input type="hidden" th:name="serviceId" th:value="${service}" />
			<input type="hidden" th:name="groupId" th:value="${dataSourceKey.groupId}" />
			<input type="hidden" th:name="dataSourceId" th:value="${dataSourceKey.dataSourceId}" />
			<input type="text" class="form-control" th:name="driverName" placeholder="JDBC Driver" />
			<input type="submit" class="btn btn-primary" value="更新" />
		</form>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">DB接続URL</h3>
	</div>
	<div class="panel-body">
		<strong th:if="${jailerDataSource.hide} == false"><h4 th:text="${jailerDataSource.url}" /></strong>
		<strong th:if="${jailerDataSource.hide} == true"><h4>●●●●●●●●●●●●●●●●●●</h4></strong>
		<br />
		<form class="form-inline" action="#" th:action="@{'/project/' + ${service} + '/dataSource/update'}" th:object="${dataSourceForm}" method="post">
			<input type="hidden" th:name="serviceId" th:value="${service}" />
			<input type="hidden" th:name="groupId" th:value="${dataSourceKey.groupId}" />
			<input type="hidden" th:name="dataSourceId" th:value="${dataSourceKey.dataSourceId}" />
			<input type="text" class="form-control" th:name="url" placeholder="url" />
			<label>
				<input type="checkbox" th:name="hide" />
				非表示
			</label>
			<input type="submit" class="btn btn-primary" value="更新" />
		</form>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">DB接続パラメータ</h3>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{'/project/' + ${service} + '/dataSourceParameter/regist'}" th:object="${dataSourceParameterForm}" method="post">
			<input type="hidden" th:name="serviceId" th:value="${service}" />
			<input type="hidden" th:name="groupId" th:value="${dataSourceKey.groupId}" />
			<input type="hidden" th:name="dataSourceId" th:value="${dataSourceKey.dataSourceId}" />
			<input type="text" class="form-control" th:field="*{key}" placeholder="KEY" />
			<input type="text" class="form-control" th:field="*{value}" placeholder="VALUE" />
			<label>
				<input type="checkbox" th:field="*{hide}" />
				非表示
			</label>
			<input type="submit" class="btn btn-primary" value="登録" />
		</form>
		<table class="table table-bordered">
			<thead>
				<tr>
					<td class="text-center"><strong>KEY</strong></td>
					<td class="text-center"><strong>VALUE</strong></td>
					<td class="text-center"><strong>DELETE</strong></td>
				</tr>
			</thead>
			<br />
			<tbody>
				<tr th:each="property : ${jailerDataSource.propertyList}">
					<td>
						<div th:text="${property.key}" />
					</td>
					<td>
						<div th:if="${property.value.hide} == false" th:text="${property.value.value}" />
						<div th:if="${property.value.hide} == true">●●●●●●●●●</div>
					</td>
					<td  class="text-center">
						<form action="#" th:action="@{'/project/' + ${service} + '/dataSourceParameter/remove'}" th:object="${dataSourceParameterForm}" method="post">
							<input type="hidden" th:name="serviceId" th:value="${service}" />
							<input type="hidden" th:name="groupId" th:value="${dataSourceKey.groupId}" />
							<input type="hidden" th:name="dataSourceId" th:value="${dataSourceKey.dataSourceId}" />
							<input type="hidden" th:name="key" th:value="${property.key}" />
							<input type="submit" class="btn btn-warning btn-sm" value="Delete" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<br />
<h3 class="sub-header">接続中コネクション一覧</h3>
<table class="table table-bordered" border="1" rules="all">
	<thead>
		<tr>
			<td class="text-center"><strong>id</strong></td>
			<td class="text-center"><strong>接続元ホスト名</strong></td>
			<td class="text-center"><strong>接続元IPアドレス</strong></td>
			<td class="text-center"><strong>接続開始日時</strong></td>
			<td class="text-center"><strong>接続Driver</strong></td>
			<td class="text-center"><strong>接続url</strong></td>
			<td class="text-center"><strong>接続パラメータ</strong></td>
			<td class="text-center"><strong>オプションパラメータ</strong></td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="connection : ${connectionList}" th:class="${connection.value.warning}? warning">
			<td>
				<div class="small" th:text="${connection.key}" />
			</td>
			<td>
				<div class="small" th:text="${connection.value.host}" />
			</td>
			<td>
				<div class="small" th:text="${connection.value.ipAddress}" />
			</td>
			<td>
				<div class="small" th:text="${#dates.format(connection.value.sinceConnectTime, 'yyyy/MM/dd HH:mm:ss')}" />
			</td>
			<td>
				<div class="small" th:text="${connection.value.driverName}" />
			</td>
			<td>
				<div class="small" th:if="${connection.value.hide} == false" th:text="${connection.value.connectUrl}" />
				<div class="small" th:if="${connection.value.hide} == true">●●●●●●●●●</div>
			</td>
			<td>
				<div class="small" th:each="property : ${connection.value.propertyList}" th:remove="tag">
					<span th:text="${property.key}" />
					=
					<span th:if="${property.value.hide} == false" th:text="${property.value.value}" />
					<span th:if="${property.value.hide} == true">●●●●●●●●●</span>
					<br />
				</div>
			</td>
			<td>
				<div class="small" th:each="param : ${connection.value.optionalParam}" th:remove="tag">
					<span th:text="${param.key}" />
					=
					<span th:text="${param.value}" />
					<br />
				</div>
			</td>
		</tr>
	</tbody>
</table>

