<!DOCTYPE html>
<html lang="ja">
<head>
	<meta content="ja" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>sample page</title>
</head>
<body>
	<div>URL登録</div>
	<form action="#" th:action="@{/dataSource/regist}" th:object="${dataSourceForm}" method="post">
		<input type="hidden" th:field="*{dataSourceId}" />
		<table border="1" rules="all">
			<tr>
				<td>url</td>
			</tr>
			<tr>
				<td><input type="text" th:field="*{url}" /></td>
			</tr>
		</table>
		<input type="submit" value="登録" />
	</form>
	
	<br />
	<div>パラメータ登録</div>
	<form action="#" th:action="@{/dataSourceParameter/regist}" th:object="${dataSourceParameterForm}" method="post">
		<input type="hidden" th:field="*{dataSourceId}" />
		<table border="1" rules="all">
			<tr>
				<td>key</td>
				<td>value</td>
			</tr>
			<tr>
				<td><input type="text" th:field="*{key}" /></td>
				<td><input type="text" th:field="*{value}" /></td>
			</tr>
		</table>
		<input type="submit" value="登録" />
	</form>
	
	<br />
	<div>URL</div>
	<table border="1" rules="all">
		<tr>
			<td>dataSourceId</td>
			<td>url</td>
		</tr>
		<tr>
			<td>
				<div th:text="${jailerDataSource.dataSourceId}" />
			</td>
			<td>
				<div th:text="${jailerDataSource.url}" />
			</td>
		</tr>
	</table>
	
	<br />
	<div>登録済みパラメータ</div>
	<table border="1" rules="all">
		<tr>
			<td>key</td>
			<td>value</td>
			<td>Delete</td>
		</tr>
		<tr th:each="property : ${jailerDataSource.propertyList}">
			<td>
				<div th:text="${property.key}" />
			</td>
			<td>
				<div th:text="${property.value}" />
			</td>
			<td>
				<form action="#" th:action="@{/dataSourceParameter/remove}" th:object="${dataSourceParameterForm}" method="post">
					<input type="hidden" th:field="*{dataSourceId}" />
					<input type="hidden" th:name="key" th:value="${property.key}" />
					<input type="submit" value="Delete" />
				</form>
			</td>
		</tr>
	</table>
	
	<br />
	<div>コネクション一覧</div>
	<table border="1" rules="all">
		<tr>
			<td>id</td>
			<td>接続元ホスト名</td>
			<td>接続元IPアドレス</td>
			<td>接続開始日時</td>
			<td>接続url</td>
			<td>接続パラメータ</td>
		</tr>
		<tr th:each="connection : ${connectionList}">
			<td>
				<div th:text="${connection.key}" />
			</td>
			<td>
				<div th:text="${connection.value.host}" />
			</td>
			<td>
				<div th:text="${connection.value.ipAddress}" />
			</td>
			<td>
				<div th:text="${#dates.format(connection.value.sinceConnectTime, 'yyyy/MM/dd HH:mm:ss')}" />
			</td>
			<td>
				<div th:text="${connection.value.connectUrl}" />
			</td>
			<td>
				<div th:text="${connection.value.propertyList}" />
			</td>
		</tr>
	</table>
</body>
</html>