
<h1>
	<ol class="breadcrumb">
		<li th:text="${service}" />
		<li>コネクション</li>
	</ol>
</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">コネクション</h3>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{'/project/' + ${service} + '/dataSource/regist'}" th:object="${dataSourceInputForm}" method="post">
			<input type="hidden" th:name="serviceId" th:value="${service}" />
			<select class="form-control" th:field="*{groupId}">
				<option th:each="group : ${groupList}" th:value="${group}" th:label="${group}" />
			</select>
			<input type="text" class="form-control" th:field="*{dataSourceId}" placeholder="ID" />
			<button type="submit" class="btn btn-primary">登録</button>
		</form>

		<br />
		<table class="table table-bordered">
			<tr>
				<td class="text-center"><strong>GROUP</strong></td>
				<td class="text-center"><strong>ID</strong></td>
				<td class="text-center"><strong>UUID</strong></td>
				<td class="text-center"><strong>詳細</strong></td>
				<td class="text-center"><strong>削除</strong></td>
			</tr>
			<tr th:each="connection : ${connectionList}">
				<td>
					<div th:text="${connection.group}" />
				</td>
				<td>
					<span th:text="${connection.id}" />
					<span class="badge" th:text="${connection.point}" />
				</td>
				<td>
					<div th:text="${connection.uuid}" />
				</td>
				<td class="text-center">
					<a th:href="@{'/project/' + ${service} + '/dataSource'(group=${connection.group}, dataSource=${connection.id})}">詳細</a>
				</td>
				<td class="text-center">
					<form class="form-inline" action="#" th:action="@{'/project/' + ${service} + '/dataSource/delete'}" th:object="${dataSourceInputForm}" method="post">
						<input type="hidden" th:name="serviceId" th:value="${service}" />
						<input type="hidden" th:name="groupId" th:value="${connection.group}" />
						<input type="hidden" th:name="dataSourceId" th:value="${connection.id}" />
						<button type="submit" class="btn btn-danger btn-xs">
							<span class="glyphicon glyphicon-trash" aria-hidden="true" />
						</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
</div>
