
<h1 class="page-header">コネクション</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">コネクション</h3>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{/dataSource/regist}" th:object="${dataSourceKey}" method="post">
			<input type="hidden" th:name="serviceId" th:value="${serviceKey.serviceId}" />
			<select class="form-control" th:field="*{groupId}">
				<option th:each="group : ${groupList}" th:value="${group}" th:label="${group}" />
			</select>
			<input type="text" class="form-control" th:field="*{dataSourceId}" placeholder="ID" />
			<button type="submit" class="btn btn-primary">登録</button>
		</form>

		<br />
		<table class="table table-bordered">
			<tr>
				<td class="text-center"><strong>GROUP</strong></td>
				<td class="text-center"><strong>ID</strong></td>
				<td class="text-center"><strong>詳細</strong></td>
			</tr>
			<tr th:each="dataSource : ${dataSourceList}">
				<td>
					<div th:text="${dataSource.groupId}" />
				</td>
				<td>
					<div th:text="${dataSource.dataSourceId}" />
				</td>
				<td class="text-center">
					<a th:href="@{'/' + ${serviceKey.serviceId} + '/dataSource'(group=${dataSource.groupId}, dataSource=${dataSource.dataSourceId})}">詳細</a>
				</td>
			</tr>
		</table>
	</div>
</div>
