
<h1>
	<ol class="breadcrumb">
		<li th:text="${service}" />
		<li>グループ</li>
	</ol>
</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">グループ</h3>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{'/project/' + ${service} + '/group/regist'}" th:object="${groupKey}" method="post">
			<input type="hidden" th:name="serviceId" th:value="${service}" />	
			<input type="text" class="form-control" th:field="*{groupId}" placeholder="GROUP" />
			<button type="submit" class="btn btn-primary">登録</button>
		</form>
		
		<br />
		<table class="table table-bordered">
			<thead>
				<tr>
					<td class="text-center"><strong>GROUP</strong></td>
					<td class="text-center"><strong>削除</strong></td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="group : ${groupList}">
					<td><div th:text="${group}" /></td>
					<td class="text-center">
						<form class="form-inline" action="#" th:action="@{'/project/' + ${service} + '/group/delete'}" th:object="${groupKey}" method="post">
							<input type="hidden" th:name="serviceId" th:value="${service}" />	
							<input type="hidden" th:name="groupId" th:value="${group}"  />
							<button type="submit" class="btn btn-danger btn-xs">
								<span class="glyphicon glyphicon-trash" aria-hidden="true" />
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
