
<div>グループ登録</div>
<form action="#" th:action="@{/group/regist}" th:object="${groupKey}"
	method="post">
	<input type="hidden" th:name="serviceId" th:value="${service}" />
	<table border="1" rules="all">
		<tr>
			<td>group</td>
		</tr>
		<tr>
			<td><input type="text" th:field="*{groupId}" /></td>
		</tr>
	</table>
	<input type="submit" value="Submit" />
</form>

<br />
<div>グループ一覧</div>
<table border="1" rules="all">
	<tr>
		<td>group</td>
	</tr>
	<tr th:each="group : ${groupList}">
		<td><a th:href="@{/group(service=${service}, group=${group})}" th:text="${group}" /></td>
	</tr>
</table>
