
<h1 class="page-header">Service</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">サービス</h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>SERVICE</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="service,iterStat : ${serviceList}">
						<td>
							<div class="text-center" th:text="${iterStat.count}" />
						</td>
						<td>
							<a th:href="@{'/project/' + ${service} + '/group'}" th:text="${service}">test</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

